body {
  /* background-color: aquamarine; */
  border: 5px black double;
  background-image: url("background4.jpeg");
}
h1 {
  transition: 1s;
}
h1:hover {
  background-color: black;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 50px;
}

/* h1 {
  position: absolute;
  font-size: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  top: -60px;
  left: 300px;
  right: 20px;
  background-color: azure;
  height: 160px;
} */
#special-offer p {
  display: flex;
  justify-content: center;

  font-size: 25px;
  font-family: cursive;
  color: brown;
}
#special-offer p:hover {
  display: flex;
  justify-content: center;

  font-size: 25px;
  font-family: cursive;
  color: black;
  cursor: pointer;
}
#special-offer img {
  margin-left: 0px;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: 500px;
  }
  50% {
    margin-left: 800px;
  }
  75% {
    margin-left: 500px;
  }
  100% {
    margin-left: 0px;
  }
}

#logo img {
  transition: 0.5s;
}
#logo img:hover {
  transform: scale(1.2);
}

.lead {
  font-size: 30px;
}
marquee {
  display: flex;
  justify-content: center;
}

h2,
h3 {
  display: flex;
  justify-content: center;
  background-color: rgb(89, 240, 55);
  border: 2px solid white;
  border-radius: 50px;
  color: red;
  transition: 1s;
}
h2:hover,
h3:hover {
  background-color: red;
  color: black;
  cursor: pointer;
  font-size: 30px;
}
#top-side {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./background1.jfif");
}
address ul li {
  font-size: 25px;
  list-style: square;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-top: 20px;
}

.widget p,
a {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
}
